<html>
<head>
   <meta charset="UTF-8" />
    <title>FOOD</title>
</head>
<body>
    <h1>음식 추가</h1>
    <form action= "/foods" method="POST" >
<pre>
음식명  : <input type="text" name="name" style="width:200px;"></br></br>
분류    : <input type="text" name="kind" style="width:200px;"></br></br>
설명    : <input type="text" name="explanation" style="width:400px;"></br></br>

<p>
<input type="submit" value="추가">  <input type="button" value="돌아가기" onclick="history.back(-1)">
</p>
</pre>
    </form>
</body>
</html>