<html>
<head>
   <meta charset="UTF-8" />
    <title>FOOD</title>
</head>
<body>
    <h1>음식리스트</h1>
  
    <% data.forEach(function(item) { %>
     
    <h3><a href="../Food/<%= item.id %>">ID : <%= item.id %></a></h3>
    
        음식 : <%= item.name %>  <br>
        종류 : <%= item.kind %>  <br>
    
    <% }) %>
    <p>
        <input type="button" value="추가" onclick="location.href='/FoodAdd'">
    </p>
</body>
</html>